{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/predict_matches.css">
{% endblock %}

{% block content %}

<div class="prod_info">
    {% if product %}
    <!-- <p>Товар</p> -->
    <table>
        <caption>Товар</caption>  
      <tr>
        <th>title</th>
        <th>brand</th>
        <th>price</th>
        <th>description</th>
        <th>specifications</th>
        <th></th>
      </tr>
    <tr>
        <td>
            <a href={{product['url']}}>{{product['title']}}</a>
        </td>
        <td>
            {{product['brand']}}
        </td>
        <td>
            {{product['price']}}
        </td>
        <td>
            <details>
                <summary>Описание</summary>
                    <p> {{product['description']}}</p>
              </details>
        </td>
        <td>
            <details>
                <summary>Характеристики</summary>
                    <p> {{product['specifications']}}</p>
            </details>
        </td>
        <td></td>
    </tr>

    {% endif %}



</div>

<div class="prod_info">
    {% if data %}
    <!-- <p>Сопоставления</p> -->
    <form action='/saved_searches' method='post'>
    <table>
    {% for prod in data %}
    <tr>
        <input type="hidden" value="{{prod.id}}" name='item_id'>
        <td>
            <a href={{prod['url']}}>{{prod['title']}}</a>

        </td>
        <td>
            {{prod['brand']}}
        </td>
        <td>
            {{prod['price']}}
        </td>
        <td>
            <details>
                <summary>Описание</summary>
                    <p> {{prod['description']}}</p>
              </details>
        </td>
        <td>
            <details>
                <summary>Характеристики</summary>
                    <p> {{prod['specifications']}}</p>
            </details>
        </td>
        <td>

        </td>

    </tr>
    {% endfor %}
    </table>
</form>
{% endif %}
</div>



{% endblock %}